<%-include('partials/header')%>

<h1>Home</h1>
<p class="p-align"><%=para1%></p>

<!-- <h1>Post</h1> -->
<!-- <p><%=ps%></p> -->
<%ps.forEach(x=>{%>

<% const pTitle = x.title;%>
<% const pBody = x.post;%>

<h2><%=pTitle%></h2>
<p><%=pBody.substring(0,100)+"..."%><a href="/posts/<%=x._id%>">Read More</a></p>

<%})%>




<%-include('partials/footer')%>